@import "../../Shared/Globals";

$checkbox-background: rgb(255 255 255 / 20%);
$checkbox-background-hover: darkgrey;
$checkbox-background-checked: $accent-color;
$checkbox-size: 0.75rem;

@mixin path-span {
  display: block;
  overflow: hidden;
  height: 2rem;
  margin: 0.25rem;
  padding: 0.25rem;
  text-overflow: ellipsis;
  white-space: pre;
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .install-background {
    position: absolute;
    z-index: -1;
    width: calc(100% - #{$sidebar-width});
    height: calc(100% - #{$header-height});
    filter: blur(25px) brightness(50%);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .list {
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;

    .left-side,
    .right-side {
      flex: 1;
      margin: 1rem;
    }
  }

  .logger-container {
    width: 100%;
    height: 200px;
    padding: 0.5rem;
    border: solid 1px black;
    background: rgb(0 0 0 / 20%);
    color: lightgrey;
  }

  .settings {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 0.85rem;
    backdrop-filter: brightness(0.5);

    .locations {
      display: flex;
      flex: 1;
      flex-direction: row;
      overflow: hidden;

      .labels {
        span {
          @include path-span;
        }
      }

      .paths {
        flex: 1;
        overflow: hidden;
        margin-left: 1rem;

        span {
          @include path-span;

          border: solid 1px rgb(255 255 255 / 30%);
        }
      }
    }

    .options {
      display: flex;
      flex-flow: column wrap;
      margin-left: 2rem;
    }

    .install {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem;
      cursor: pointer;

      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
