################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Wabbajack
/BSA.Tools/bin/Debug/netstandard2.0
/BSA.Tools/obj
/packages
/SevenZipExtractor/bin/Debug
/SevenZipExtractor/obj/Debug
/Wabbajack/bin/Debug
/Wabbajack/obj/Debug
/Wabbajack.Common/bin/Debug
/Wabbajack.Common/obj/Debug
