<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="77.0.3865.4000" targetFramework="net472" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.0" targetFramework="net472" />
</packages>