@namespace Wabbajack.App.Blazor.Components

<footer id="bottom-bar">
    <div class="image">
        <img src="https://raw.githubusercontent.com/wabbajack-tools/mod-lists/master/total-skyrim-overhaul/2020.01.21-01.26.png" alt="">
    </div>
    <div class="info">
        <div class="subtitle">[Subtitle]</div>
        <div class="title">[Title]</div>
    </div>
    <div class="progress">
        <ProgressBar/>
    </div>
</footer>

@code {

}
