@namespace Wabbajack.App.Blazor.Components

<footer id="bottom-bar">
    <div class="image">
        <img src="@Image" alt="">
    </div>
    <div class="info">
        <div class="subtitle">@Subtitle</div>
        <div class="title">@Title</div>
    </div>
    <div class="inside-content">
        @ChildContent
    </div>
</footer>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Subtitle { get; set; }

    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
