@import "../Shared/Globals.scss";

#bottom-bar {
  position: fixed;
  width: calc(100% - #{$sidebar-width});
  height: $header-height;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px) saturate(0.25);
  z-index: 2;

  //font-family: $raleway-font;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;

  .image {
    width: auto;
    height: $header-height;
    margin-right: 1rem;
    padding: 0.25rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    .title {
      font-size: 1.5em;
      font-weight: 100;
    }
  }

  .progress {
    height: 20px;
    flex: 1;
    margin: 5rem;
  }
}
