#modal {
  .navigation {
    position: fixed;
    width: 200px;
    height: 100%;
    border-right: 1px solid #404040;
    background-color: rgb(28 28 40);

    .logo {
      display: block;
      vertical-align: middle;
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }

    .menu {
      width: 100%;

      ul {
        margin-left: 1rem;
        list-style-type: none;

        li {
          height: 3rem;
          margin-top: 0.5rem;
          font-weight: 100;
          font-size: 1.5rem;
        }
      }
    }
  }

  .content {
    float: right;
    width: calc(100% - 200px);

    .mod {
      padding: 0.5rem;
      border-bottom: solid 1px #8080802b;
      background-image: linear-gradient(to right, rgb(255 255 255 / 0%) 50%, rgb(28 28 40));
      background-size: 200% 100%;
      transition: background-position 0.5s;

      &:hover {
        background-position: -100% 0;
      }

      .name {
        font-weight: 100;
        font-size: 1.25rem;

        span {
          color: #bfbfbf;
          font-size: 1.1rem;
        }
      }

      .description {
        margin-left: 0.5rem;
        color: #bfbfbf;
      }
    }
  }
}
