#info-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .supertitle {
    margin-left: 0.5rem;
    font-weight: 100;
    font-size: 1.5rem;
  }

  .title {
    margin-top: -1rem;
    margin-bottom: -0.5rem;
    font-weight: 100;
    font-size: 4rem;
  }

  .subtitle {
    margin-left: 0.5rem;
    font-weight: 100;
    font-size: 2rem;
  }

  .comment {
    margin-left: 1rem;
    color: rgb(255 255 255 / 75%);
  }

  .description {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    color: rgb(255 255 255 / 50%);
  }
}
