#info-image {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .mod-feature {
    margin-left: -10px;
    font-size: 2rem;
    font-weight: 100;
  }

  .image {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: 100;
  }

  .subtitle {
    font-size: 1.1rem;
    font-weight: 100;
    margin-left: 0.5rem;
  }

  .description {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.75);
  }
}
