@namespace Wabbajack.App.Blazor.Components

<div id="info-image">
    <div class="image">
        <img src="@Image" alt="">
    </div>
    @if (!string.IsNullOrEmpty(Title))
    {
        <span class="title">@Title</span>
    }

    @if (!string.IsNullOrEmpty(Subtitle))
    {
        <span class="subtitle">@Subtitle</span>
    }

    @if (!string.IsNullOrEmpty(Description))
    {
        <span class="description">@Description</span>
    }
</div>

@code {

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public string Description { get; set; }

}
