.logo {
  padding: 0.5rem 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.letters {
  padding: 0.5rem 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}