@import "../Shared/Globals.scss";

$display-height: 225px;
$hover-icon-size: 75px;

.item {
  width: 400px;
  height: 450px;
  overflow: hidden;
  margin: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.31);

  &:hover .display .image {
    filter: blur(2px) brightness(70%);
  }

  &:hover .display .interaction {
    opacity: 1;
  }

  .display {
    position: relative;
    height: $display-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all 250ms ease-in-out;
    }

    .interaction {
      position: absolute;
      opacity: 0;
      transition: all 250ms ease-in-out;

      ::deep img {
        width: $hover-icon-size;
        height: $hover-icon-size;
        margin: 0;
        transition: all 150ms ease-in-out;
      }
    }
  }

  .info {
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .title {
      color: white;
      font-weight: 100;
      font-size: 2rem;
      line-height: 2.5rem;
      margin: 0;
    }

    .author {
      color: lightgray;
      font-size: 1rem;
    }

    .description {
      color: grey;
      font-size: 0.9rem;
    }
  }

  .tags {
    border-radius: 0.5rem;
  }
}
