.modlist-tile {
  overflow: hidden;
  width: 15rem;
  height: 28rem;
  margin: 1rem;

  // Image Ratio: 3:4
  .modlist-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .author {
    margin-bottom: 0.5rem;
    color: lightgray;
    font-size: 1rem;
  }

  .tags {
    .tag {
      display: inline-flex;
      margin: 0.2rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      background-color: #262636;

      .tag-content {
        color: #9a93fd;
        font-weight: 500;
        font-size: 0.9rem;
      }

      &.nsfw {
        background-color: #362626;

        .tag-content {
          color: #ff3f5f;
        }
      }
    }
  }
}
