@import "../Shared/Globals";

#menu {
  display: flex;
  flex: 0 0 180px;
  flex-direction: column;
  background-color: #13121a;

  .logo {
    padding: 0.5rem;
    text-align: center;

    .icon {
      width: 70%;
      margin-bottom: 1rem;
    }

    .letters {
      width: 90%;
    }
  }

  .pages {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 1rem;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 4rem;
      border-left: 3px solid transparent;
      font-weight: 100;
      font-size: 1.5rem;
      transition: border 100ms ease-in-out, background 100ms ease-in-out;

      &:not(.active) {
        opacity: 0.5;
      }

      &:hover {
        border-left: 3px solid #5e437f;
        background-color: #1c1c28;
      }

      &.active {
        border-left: 3px solid #824dc3;
        background: #1c1c28;
      }

      img {
        width: 2rem;
        margin-right: 1.25rem;
        margin-left: 1rem;
      }

      &.settings {
        margin-top: auto;
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-top: 1px solid #404040;

    .social {
      width: 2rem;
      opacity: 0.7;
    }
  }
}
