.container {
  display: flex;
  align-items: center;
  max-width: 56rem;
  height: 9rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 1.5rem;
  border: 1px solid rgb(255 255 255 / 30%);
  background-image:
    linear-gradient(30deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 80%) 30%, rgb(255 255 255 / 0%) 100%),
    url("images/Banner_Dark_Transparent.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);

  .info {
    align-self: flex-end;

    .title {
      margin: 0;
      font-weight: 100;
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    .description {
      color: grey;
    }
  }
}
