<div class="container">
    <div class="info">
        <p class="title">
            Wabbajack 3.0
        </p>
        <p class="description">
            [TBI] News ticker thing.
        </p>
    </div>
</div>

@code {

}
