@namespace Wabbajack.App.Blazor.Components

<label class="option">
    @Label
    <input type="checkbox" value="@IsChecked" @onchange="CheckBoxChanged">
    <span class="checkmark"></span>
</label>

@code {
    [Parameter]
    public string? Label { get; set; }
    
    [Parameter]
    public bool IsChecked { get; set; }
    
    [Parameter]
    public EventCallback<bool> IsCheckedChanged { get; set; }

    private async Task CheckBoxChanged(ChangeEventArgs e)
    {
        if (e.Value is not bool newValue) return;
        if (IsChecked == newValue) return;
        
        IsChecked = newValue;
        await IsCheckedChanged.InvokeAsync(IsChecked);
    }
}
