#progress-bar {
  position: relative;
  width: 100%;
  height: 100%;

  progress {
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    border-radius: 40px;
    background-color: #ededed;
  }

  progress[value]::-webkit-progress-value {
    border-radius: 40px;
    background-color: mediumpurple;
  }

  .text {
    position: absolute;
    width: 100%;
    color: blue;
    text-align: center;
  }
}
