@import "../Shared/Globals.scss";

#side-bar {
  position: fixed;
  height: 100%;
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #404040;
  backdrop-filter: brightness(0.8);

  .logo {
    padding: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }

  .socials {
    width: 30px;

    img {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  }
}