@namespace Wabbajack.App.Blazor.Components

<div id="side-bar">
    @* TODO: [Low] Replace logo with SVG? *@
    <img class="logo" src="images/Logo_Dark_Transparent.png" alt="Wabbajack Logo">
    <div class="socials">
        <img src="images/icons/patreon.svg" alt="">
        <img src="images/icons/github.svg" alt="">
        <img src="images/icons/discord.svg" alt="">
    </div>
</div>
