<header id="top-bar">
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/SelectInstall">Install</a>
            </li>
            <li>
                <a href="/">Compile</a>
            </li>
            <li>
                <a href="/">Settings</a>
            </li>
        </ul>
    </nav>
</header>