// TODO: [Low] Logging levels?
#virtual-logger {
  height: 100%;
  overflow-y: scroll;
  width: 100%;

  .info {
  }

  .warn {
  }

  .error {
  }

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.85rem;
  }
}
