// TODO: [Low] Logging levels?
#virtual-logger {
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  span {
    display: block;
    overflow: hidden;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
