@using Wabbajack.App.Blazor.Shared


<CascadingBlazoredModal>
    <Router AppAssembly="@GetType().Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <h1>Not found</h1>
            <p>Sorry, there's nothing here.</p>
        </NotFound>
    </Router>
</CascadingBlazoredModal>
