@page "/configure"
@namespace Wabbajack.App.Blazor.Pages

<div id="content">
    <div class="image" style="background-image: url('@Image');"></div>
    <div class="list">
        <div class="info">
            <div class="name">@Name</div>
            <div class="author">@Author</div>
            <div class="version">@Version</div>
            <div class="description">@Description</div>
        </div>
        <div class="modlist-image" style="background-image: url('@Image');"></div>
    </div>
    <div class="settings">
        <div class="locations">
            <div class="labels">
                <span>Target Modlist</span>
                <span>Installation Location</span>
                <span>Download Location</span>
            </div>
            <div class="paths">
                <span class="modlist-file">D:\Programs\Wabbajack\downloaded_mod_lists\magnum_opus.wabbajack</span>
                <span class="install-location"></span>
                <span class="download-location"></span>

            </div>
        </div>
        <div class="options">
            <label class="option">
                Overwrite Existing Installation
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>

            <label class="option">
                <input type="checkbox">
                <span class="checkmark"></span>
                Enable NTFS Compression
            </label>

            <label class="option">
                <input type="checkbox">
                <span class="checkmark"></span>
                Do a sweet trick once the modlist has finished installing
            </label>

            <label class="option">
                <input type="checkbox">
                <span class="checkmark"></span>
                Something else
            </label>
        </div>
    </div>
</div>