#content {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .details {
    display: flex;
    flex-direction: column;
    width: 35%;

    .text-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      label {
        font-size: 1.1rem;
        margin-left: 0.5rem;
      }

      input[type=text] {
        height: 1.75rem;
        padding: 0.25rem;
        border-radius: 0.25rem;
        background-color: #242432;
        color: white;
        border: 1px solid #13121a;
      }

      input[type=text]:active,
      input[type=text]:focus,
      input[type=text]:focus-visible {
        outline: 2px solid #824dc3;
      }

      input[type=text]:invalid {
        border-color: red;
      }
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
