#content {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .details {
    display: flex;
    flex-direction: column;
    width: 35%;

    .text-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      label {
        margin-left: 0.5rem;
        font-size: 1.1rem;
      }

      input[type="text"] {
        height: 1.75rem;
        padding: 0.25rem;
        border: 1px solid #13121a;
        border-radius: 0.25rem;
        background-color: #242432;
      }

      input[type="text"]:active,
      input[type="text"]:focus,
      input[type="text"]:focus-visible {
        outline: 2px solid #824dc3;
      }

      input[type="text"]:invalid {
        border-color: red;
      }
    }
  }

  .preview {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
