@page "/default"

<h3>Hello, world!</h3>

<p>The current count is <strong>@Counter</strong></p>

<button @onclick="IncrementCount">Increment</button>

@code {
    int Counter = 0;
    void IncrementCount()
    {
        Counter++;
    }
}