@page "/Gallery"

@using Wabbajack.DTOs

@namespace Wabbajack.App.Blazor.Pages

<div id="content">
    @foreach (ModlistMetadata modlist in _listItems)
    {
        <ModlistItem Metadata=@modlist>
            <InteractionIcon Icon="images/icons/install.svg" Label="Install" Size="75px" OnClick="@(() => OnClickDownload(modlist))"/>
            <InteractionIcon Icon="images/icons/info.svg" Label="Information" Size="75px" OnClick="@(() => OnClickInformation(modlist))"/>
        </ModlistItem>
    }
</div>
