@page "/gallery"
@layout Shared.MainLayout
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Wabbajack.Networking.WabbajackClientApi;
@using Wabbajack.DTOs

@inject Client _client

<div id="content">
    @foreach (ModlistMetadata item in _listItems)
    {
        <ModlistItem Metadata=@item></ModlistItem>
    }
</div>