#content {
  display: flex;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #5e437f;
}

::-webkit-scrollbar-track {
  margin: 0 1rem;
  border-radius: 1rem;
  background: #13121a;
}

#filters {
  display: flex;
  flex: 0 0 16rem;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;

  .modlist-search {
    height: 3rem;
    padding: 0.25rem;
    border: 0;
    border-radius: 0.25rem;
    background-color: #242432;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    height: 3rem;
    margin-top: 1rem;

    .filter-title {
      display: flex;
      flex: 0 0 3rem;
      align-items: center;
      padding: 0 1rem;
      border-radius: 0.25rem;
      background-color: #242432;
    }

    .filter-item-container {
      overflow-y: scroll;
      height: 0;
      transition: height 0.25s ease-in-out;

      .filter-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0.5rem;

        .checkmark {
          width: 1rem;
          height: 1rem;
          border-radius: 1rem;
          background: #242432;
        }

        &.true .checkmark {
          background: #824dc3;
        }

        &:hover {
          background: #242432;

          .checkmark {
            border: 1px solid #373748;
          }
        }
      }
    }

    &.show {
      flex: 1;

      .filter-item-container {
        height: 100%;
      }
    }
  }
}

#modlist-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  will-change: scroll-position;

  .source-info {
    display: flex;
    height: 15.75rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: #242432;

    .info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      max-width: 48rem;
      padding: 1rem;

      .title {
        font-weight: 100;
        font-size: 2rem;
      }

      .maintainers {
        margin-bottom: 0.5rem;
        color: lightgrey;
      }

      .description {
        flex: 1;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .modlist-authors {
          margin-right: 1rem;
          color: #aaaab3;
          font-size: 0.9rem;
        }

        .links {
          display: flex;

          img {
            width: 2rem;
            margin-left: 0.25rem;
            opacity: 0.7;
          }
        }
      }
    }

    .modlist-image {
      object-fit: cover;
      width: 28rem;
      padding: 0.5rem;
      border-radius: 1rem;
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
