#content {
  display: flex;
  flex-direction: column;
  //height: inherit;
  justify-content: center;
}
//
//.header {
//  flex: 2;
//  display: flex;
//  background-image: url("images/Logo_Dark_Transparent.png");
//  background-position: bottom;
//  background-repeat: no-repeat;
//  background-size: contain;
//
//  .text {
//    background-image: url("images/Letters_Dark_Transparent.png");
//    background-repeat: no-repeat;
//    margin: 0 auto;
//    background-size: contain;
//    height: 50%;
//    width: 100px;
//    max-width: 1000px;
//  }
//}
//
//.menu {
//  flex: 1;
//  color: green;
//  height: 200px;
//}
