@page "/Install"

@namespace Wabbajack.App.Blazor.Pages

<div id="content">
    <div class="select">
        <div class="browse">
            <img src="images/icons/cloud-download.svg" alt="Browse Gallery">
            <span>Browse the Gallery</span>
        </div>
        <div class="disk">
            <img src="images/icons/disk.svg" @onclick="SelectFile" alt="Install from File">
            <span>Install from File</span>
        </div>
    </div>
    <div class="recent">
        <div class="title">[TBI] Recently downloaded</div>
        <div class="modlist">
            <img src="https://i.imgur.com/9jnSPcX.png" alt="">
            <div class="info">
                <div class="title">[Title]</div>
                <div class="description">[Description]</div>
            </div>
        </div>
    </div>
</div>
