@page "/install"
@layout Shared.MainLayout

<div id="content">
    <div class="image"></div>
    <div class="info">
        <div class="step">Downloading</div>
        <div class="description">Downloading missing archives...</div>
        <div class="number">16 of 228 archives downloaded</div>
        <div class="number">128.27 GB remaining</div>
        <div class="number">5.6 MB/s</div>
        <div class="log">
            <p>Downloaded A Cool Mod</p>
            <p>Downloaded Some Mod With a Long Name</p>
            <p>Downloaded An Even Longer Name Why Do They Do This</p>
            <p>Downloaded An Archive From MEGA Wow It's a Miracle</p>
            <p>Downloaded Archive Mod Something Long</p>
        </div>
    </div>
    <div class="preview">
        <div class="mod-image"></div>
        <div class="mod-name">Manbeast - A Werewolf Overhaul</div>
        <div class="mod-author">Simon Magus and colinswrath</div>
        <div class="mod-info">Manbeast is a complete overhaul of Skyrim’s Werewolf system designed to balance existing Werewolf mechanics and add powerful new lycanthropic abilities to the game.</div>
    </div>
</div>