@page "/"

@namespace Wabbajack.App.Blazor.Pages

<News/>
<div id="content"></div>

@code {
    // List<string> InstalledLists = new();
    // protected override async Task OnInitializedAsync()
    // {
    //     AbsolutePath installedModlists = KnownFolders.WabbajackAppLocal.Combine("installed_modlists.json");
    //     string toJson = await installedModlists.ReadAllTextAsync();
    //     JObject installedJson = JObject.Parse(toJson);
    //     foreach ((string? key, JToken? value) in installedJson)
    //     {
    //         foreach (JObject obj in value)
    //         {
    //             Console.WriteLine(obj.Properties());
    //         }
    //     }
    // }
}

@code {
    public const string Route = "/";
}
