$install-icon-size: 15rem;

#content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  .select {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

    div {
      display: flex;
      border: solid 1px red;
      flex-direction: column;
      align-items: center;

      img {
        width: $install-icon-size;
        height: $install-icon-size;
      }
    }
  }

  .recent {
    .title {
      font-size: 1.5rem;
      font-weight: 100;
    }

    .modlist {
      img {
        height: 4rem;
        width: auto;
        border: solid 1px red;
      }

      .info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}