#content {
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
  height: 100%;

  .section-title {
    font-weight: 100;
    font-size: 2rem;
    color: white;
    align-self: flex-start;
    margin-bottom: 2rem;
  }

  .logins {
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px rgba(255, 255, 255, 0.1);
    margin-left: 3rem;

    hr {
      width: calc(100% - 3.5rem);
      align-self: flex-end;
      border: none;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .resources {
    flex: 5;
    background-color: red;
  }
}
