#content {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  height: 100%;

  .section-title {
    align-self: flex-start;
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 2rem;
  }

  .logins {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 3rem;
    border-right: solid 1px rgb(255 255 255 / 10%);

    hr {
      align-self: flex-end;
      width: calc(100% - 3.5rem);
      height: 1px;
      border: none;
      background-color: rgb(255 255 255 / 10%);
    }
  }

  .resources {
    flex: 5;
    background-color: red;
  }
}
