@page "/settings"
@using ReactiveUI
@using Wabbajack.App.Blazor.Browser.ViewModels
@using Wabbajack.App.Blazor.Messages
@using Microsoft.Extensions.DependencyInjection
@namespace Wabbajack.App.Blazor.Pages

@inject IServiceProvider _serviceProvider;

<div id="content">
    <div class="logins">
        <div class="section-title">Accounts</div>
        <SiteLogin Status="NexusMods" />
        <SiteLogin Status="LoversLab" />
    </div>
    <div class="resources">

        <button onclick="@LoginToNexus">Login To Nexus</button>
    </div>
</div>

@code {
        public const string Route = "/settings";

    public void LoginToNexus()
    {
        MessageBus.Current.SendMessage(new OpenBrowserTab(_serviceProvider.GetRequiredService<NexusLogin>()));
    }
}
