@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Variable.ttf");
}

@font-face {
  font-family: "YanoneKaffeesatz";
  src: url("fonts/YanoneKaffeesatz-Variable.ttf");
}

$primary-background-color: #121212;
$secondary-background-color: #0A0A0A;
$accent-color: #5E437F;

$header-height: 65px;
$sidebar-width: 180px;

$fallback-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$raleway-font: 'Raleway', $fallback-font;
$yanone-font: 'YanoneKaffeesatz', $fallback-font;
