@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-Variable.ttf");
}

@font-face {
  font-family: YanoneKaffeesatz;
  src: url("fonts/YanoneKaffeesatz-Variable.ttf");
}

$primary-background-color: #121212;
$secondary-background-color: #0a0a0a;
$accent-color: #5e437f;
$header-height: 65px;
$sidebar-width: 180px;
$fallback-font: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
$raleway-font: "Raleway", $fallback-font;
$yanone-font: "YanoneKaffeesatz", $fallback-font;
