@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

@namespace Wabbajack.App.Blazor.Shared

<BlazoredToasts Position="ToastPosition.BottomRight"/>
<div id="background"></div>
<NavigationMenu/>
<div id="wrapper">
    <div id="page">
        @Body
    </div>
</div>
