@import "./Globals.scss";

#background {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: linear-gradient(320deg, #151022, #1f0d2a, #100214);
  z-index: -1;
}

#wrapper {
  width: calc(100% - #{$sidebar-width});
  float: right;
  height: 100%;
}

#page {
  margin-top: $header-height;
  height: calc(100% - #{$sidebar-width});
}