@using Components
@inherits LayoutComponentBase

@* This is required because layout components can't access scoped CSS. *@
<link rel="stylesheet" href="MainLayout.Razor.css" >

<div class="main">
    <Sidebar/>
    <div class="page">
        @Body
    </div>

</div>