@import "../Shared/Globals.scss";

#background {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #1c1c28;
  z-index: -1;
}

#wrapper {
  width: calc(100% - #{$sidebar-width});
  float: right;
  height: 100%;
}

#page {
  height: 100%;
  overflow: hidden;
}
