@inherits LayoutComponentBase
@namespace Wabbajack.App.Blazor.Shared

<CascadingValue Value="@(this)">
    <div id="background"></div>
    <SideBar/>
    <div id="wrapper">
        <TopBar/>
        <div id="page">
            @Body
        </div>
        @if (ShowFooter)
        {
            <BottomBar/>
        }
    </div>
</CascadingValue>

@code
{
    public bool ShowFooter { get; set; } = false;
}
